body {
  background-color: #2b4450;
  text: #dfebed;

}

.container {
  margin: auto;
  display:  flex;
  flex-direction: column;
  align-itms:  center;
  width: 50%;
  margin-left: 25%;
}

#shuffle > div {
    float: center;
    text-align: center;
    background-color: steelblue;
    color: #fff;
    border-radius: 15px;
    margin: 3px;
  }

h2 {
  font-size:  2.3rem;
  color: #dfebed;
  position: relative;
  border:  ;
  border-radius: 15px;
  padding: 10px;
}

h2::after {
  position:  absolute;
  width:  0%;
  height:  4px;
  background-color: #16A56B;
  left:  50%;
  bottom: -10px;
  transition:  all 0.3s ease-in-out;
}

h2:hover {
  cursor: pointer;
  background-color: #f78536;
}

h2:hover::afer {
  cursor: pointer;
  width: 100%;
  left: 0/;
}

/*.first-color { 
  background: #f78536; 
} highlight
  
.second-color { 
  background: #dfebed; 
} text

.third-color { 
  background: #497285; 
} divs

.fourth-color { 
  background: #2b4450; 
} background */